body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

h2 {
  font-size: 3.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

footer {
  margin: 2%;
  text-align: center;
}

.bio {
  font-size: 1.1em;
  padding: 6%;
}

#intro {
  background-color: #fff;
  background-color: rgba(255,255,255,0.25);
  border-radius: 5px;
  position: absolute;
  padding: 9px 5px 5px 9px;
  width: 45%;
}

.col-md-4 img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 175px;
}

.portfolio .lead {
  text-align: center;
}

.project-description {
  font-size: 1.1em;
}


.shiftable-macbook .screen {
  background-image: url("../images/Shiftable.png");
}

.shiftable-iphone .screen {
  background-image: url("../images/shiftable_iphone.png");
}

.shiftable-iphone .screen {
/*  background-image: url("../images/shiftable-iphone.png");*/
}


.fitbud .screen {
  background-image: url("../images/Fitbud.png");
  background-position: center;
}

.indianfoodfinder .screen {
  background-image: url("../images/indianfoodfinder.png");
  background-position: 5% 50%;
}

.holidaywishlist .screen {
  background-image: url("../images/holidaywishlistroot.png");
   background-position: center;
}

.skills, .portfolio, .about-me {
  padding-top: 60px;
  margin-top: -60px;
}

.fa {
  margin: 0 10px;
}

.fa:hover{
  color: #009cfb;
}

.jumbotron {
  background: url('../images/headshot2.jpg') no-repeat center center;
  background-size: cover;
  font-size: 20px;
  height: 100vh ;
  margin-top: -10px;
  padding-left: 50%;
  padding-right:10%;
  padding-top: 200px;
}

.mobile-header {
  display: none;
}


.nav {
  padding: 0;
}

.navbar-brand, .portfolio-nav > li {
  margin: 5px 0;
}


/*-------Portfolio---------*/
.portfolio-pic {
  height: 250px;
  margin: 0 auto;
  width: 90%;
}

.portfolio-pic:hover {
  opacity: 0.85;
}

.screen {
  background-size: cover;
}


/*-------Skills---------*/
.skills {
  margin-bottom: 7%;
}

.skills .col-md-3 {
  text-align: center;
}


/* LANGUAGE ICONS */
.skills i{
  font-size: 10em;
}


/*-------Media---------*/

@media all and (max-width: 600px) {
    .jumbotron {
        display: none;
    }

    .mobile-headshot {
      margin: 50% auto;
      width: 100%;
    }

    .mobile-header {
      display: block;
      text-align: center;
    }


